  @import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+NKo+Unjoined:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+NKo+Unjoined:wght@500&family=Poppins&display=swap');

/* ფონტები რელატიურით წინაზე შემოვიტანე და ეხლა ესე გავაკეთე */


  /* header start  */

  
  header {
      width: 1440px;
      background-color: blue;
      /* background: #2A9D8F; */
      margin: auto;
  }

  .logobox {
      padding: 38px 369.66px 38px 130px;
      display: inline-block;
      vertical-align: middle;
  }

  .logo {
      padding: 10px 12.6px 10px 13px;
      border-radius: 46px;
      background: #FFF;
  }

  nav {
      display: inline-block;
      vertical-align: middle;
  }

  .header_ul {
      display: inline-block;
      padding-right: 357px;
  }

  .nav_li {
      display: inline-block;
      font-family: 'Nerko One', cursive;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      /* 150% */
      letter-spacing: 0.1px;
  }

  .middle_li {
      margin-inline: 51px;
  }

  .needFFF {
      color: #FFF;
  }

  .header_button {
      padding: 8px 16px;
      font-family: 'Poppins', sans-serif;
      color: #2A9D8F;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      /* 150% */
      letter-spacing: 0.1px;
  }



  /* article start  */



  .article1 {
      width: 780px;
      margin: 200px auto;
  }

  .article_title {
      font-family: 'Poppins', sans-serif;
      color: #4D4D4D;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.24px;
  }

  .article_p1 {
      margin: 60px 0 52px 0;
      font-family: 'Nerko One', cursive;
      color: #656565;
      text-align: justify;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.1px;
  }

  .article_p2 {
      color: #656565;
      text-align: justify;
      font-family: 'Nerko One', cursive;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0.2px;
  }



  /* section1 start  */



  .section1 {
      width: 1440px;
      background: #C2F3EE;
      margin: auto;
  }

  .section1_image {
      padding: 80px 0 80px 130px;
  }

  .section1_box {
      width: 460px;
      display: inline-block;
      vertical-align: top;
      padding-top: 80px;
      padding-left: 123px;
  }

  .section1_title {
      width: 457px;
      color: #272727;
      font-family: 'Poppins', sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: 0.16px;
  }

  .section1_p {
      width: 457px;
      padding: 27px 0 45px 0;
      color: #515151;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.09px;
  }

  .section1_button {
      padding: 11px 16px;
      background: #2A9D8F;
      color: #FFF;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

  }



  /* <!-- section2 start  --> */




  .section2 {
      width: 1180px;
      margin: 200px auto;
      /* background-color: blue; */

  }

  .section2_title {
      padding: 0 300px 54px 350px;
      color: #4D4D4D;
      font-family: 'Poppins', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.24px;
  }

  .section2_article {
      display: inline-block;
      width: 580px;
  }

  .section2_p {
      color: #535353;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      /* 150% */
      letter-spacing: 0.12px;
  }

  .padding_20 {
      padding-right: 16px; /*მგონი იგივეა ისედაც და ტყუილა დავუწერე :დდ*/
  }

  

  /* footer start  */



  footer {
      width: 1440px;
      padding: 90px 130px 148px 130px;
      background: #2A9D8F;
      margin: auto;
  }

  .footer_icon_box {display: inline-block;
     /* padding-right: 534px;  აქ შევასწორე , მგონი მარჯინით უნდა დავაშორო  */
    margin-right: 534px;}

  .footer_icon { width: 98px; height: 98px;
      padding: 22px 27.4px 21.6px 28px;
      border-radius: 50px;
      border: 3px solid #FFF;
  }
  .footer_box { 
    /* background-color: brown; */
    display: inline-block; 
    vertical-align: top;
  }
  .footer_div1 {width: 64px;}
  
  .footer_div2 {
        width: 173px;
        /* padding-inline: 20px; */
        margin-inline: 42px;
    }

 .footer_div3 {width: 148px;}

 .footer_h3 { padding-bottom: 21px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.1px;
 }
 .footer_li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
 }
 .need8 {padding: 8px 0;}